#colorSelector, #colorSelector2 {
    position: relative;
    width: 36px;
    height: 36px;
    background: url(../images/select.png);
}

#colorSelector div, #colorSelector2 div {
        position: absolute;
        top: 3px;
        left: 3px;
        width: 30px;
        height: 30px;
        background: url(../images/select.png) center;
}

.colorpicker {
    z-index: 500;
}
 #editEventForm input.ng-invalid,
 #editEventForm select.ng-invalid {
  border: 1px solid red;
}
#editEventForm input.ng-valid,
#editEventForm select.ng-valid {
  border: 1px solid green;
}

#editEventForm input.ng-valid.umb-headline {
    border: none;
}