#colorSelector, #colorSelector2 {
    position: relative;
    width: 36px;
    height: 36px;
    background: url(../images/select.png);
}

#colorSelector div, #colorSelector2 div {
        position: absolute;
        top: 3px;
        left: 3px;
        width: 30px;
        height: 30px;
        background: url(../images/select.png) center;
}

.colorpicker {
    z-index: 500;
}
 #editEventForm input.ng-invalid,
 #editEventForm select.ng-invalid {
  border: 1px solid red;
}
#editEventForm input.ng-valid,
#editEventForm select.ng-valid {
  border: 1px solid green;
}

#editEventForm input.ng-valid.umb-headline {
    border: none;
}

div.bootstrap-tagsinput .label-info {
background-color: #5bc0de;
}

#descriptionTabs.nav-pills {
    margin-bottom: 0;
}
#descriptionTabs.nav-pills > li > a {
  border-radius: 0;
  margin-bottom: 0;
}
#descriptionTabs.nav-pills > li.active > a {
  background-color: #f8f8f8;
  color: #343434;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
#descriptionTabsContent {
    background-color: #f8f8f8;
    padding: 0;
}

/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
  padding-bottom: 0;
}
.tabbable-line > .tab-content > .tab-pane .control-group {
    margin: 0;
    padding: 0;
}