<umb-panel ng-controller="EventCalendar.LocationCreateController">
    <umb-header>
        <div class="span4">
                <input type="text"
                    class="umb-headline" 
                    localize="placeholder"
                    select-on-focus 
                    placeholder="@placeholders_entername" 
                    ng-model="location.name" />
        </div>
        <div class="span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                        <a href class="btn btn-primary" ng-click="save(location)" prevent-default><localize key="buttons_save">Save</localize></a>
                </div>
        </div>
    </umb-header>

    <div class="umb-panel-body">
        <div class="umb-pane">
            <div class="umb-property">
                <div class="control-group umb-control-group">
                    <div class="umb-el-wrap">
                        <label class="control-label" for="">
                            <eventcalendar-localize key="location_street_label">Street</eventcalendar-localize>
                            <small><eventcalendar-localize key="location_street_description">Enter the street of your location.</eventcalendar-localize></small>
                        </label>
                        <div class="controls controls-row">            
                            <input type="text" class="umb-editor umb-textstring" ng-model="location.street">
                        </div>
                    </div>
                </div>
            </div>

            <div class="umb-property">
                <div class="control-group umb-control-group">
                    <div class="umb-el-wrap">
                        <label class="control-label" for="">
                            <eventcalendar-localize key="location_zip_label">Zip Code</eventcalendar-localize>
                            <small><eventcalendar-localize key="location_zip_description">Enter the zip code of your location.</eventcalendar-localize></small>
                        </label>
                        <div class="controls controls-row">            
                            <input type="text" class="umb-editor umb-textstring" ng-model="location.zipCode">
                        </div>
                    </div>
                </div>
            </div>

            <div class="umb-property">
                <div class="control-group umb-control-group">
                    <div class="umb-el-wrap">
                        <label class="control-label" for="">
                            <eventcalendar-localize key="location_city_label">City</eventcalendar-localize>
                            <small><eventcalendar-localize key="location_city_description">Enter the city of your location.</eventcalendar-localize></small>
                        </label>
                        <div class="controls controls-row">            
                            <input type="text" class="umb-editor umb-textstring" ng-model="location.city">
                        </div>
                    </div>
                </div>
            </div>

            <div class="umb-property">
                <div class="control-group umb-control-group">
                    <div class="umb-el-wrap">
                        <label class="control-label" for="">
                            <eventcalendar-localize key="location_country_label">Country</eventcalendar-localize>
                            <small><eventcalendar-localize key="location_country_description">Enter the country of your location.</eventcalendar-localize></small>
                        </label>
                        <div class="controls controls-row">            
                            <input type="text" class="umb-editor umb-textstring" ng-model="location.country">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</umb-panel>