<umb-panel ng-controller="EventCalendar.LocationEditController">
    <umb-header>
        <div class="span4">
                <input type="text"
                    class="umb-headline" 
                    localize="placeholder"
                    select-on-focus 
                    placeholder="@placeholders_entername" 
                    ng-model="location.name" />
        </div>
        <div class="span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                        <a href class="btn btn-primary" ng-click="save(location)" prevent-default>Save</a>
                </div>
        </div>
    </umb-header>

    <div class="umb-panel-body">
        <div class="umb-pane">
            <umb-control-group label="Street" description="Enter the street of your location.">
                <input type="text" class="umb-editor umb-textstring" ng-model="location.street" />
            </umb-control-group>

            <umb-control-group label="Zip Code" description="Enter the zip code of your location.">
                <input type="text" class="umb-editor umb-textstring" ng-model="location.zipCode" />
            </umb-control-group>
                        
            <umb-control-group label="City" description="Enter the city of your location.">
                <input type="text" class="umb-editor umb-textstring" ng-model="location.city" />
            </umb-control-group>

            <umb-control-group label="Country" description="Enter the country of your location.">
                <input type="text" class="umb-editor umb-textstring" ng-model="location.country" />
            </umb-control-group>

            <umb-control-group label="Map" description="Pick your location on the map">
                <fieldset class="gllpLatlonPicker">
                    <legend>Search your location on google maps</legend>
                    <input type="text" class="gllpSearchField">
		            <input type="button" class="gllpSearchButton" value="search">
		            <br/><br/>
		            <div class="gllpMap">Google Maps</div>
		            <input type="hidden" class="gllpZoom" value="12"/>
                    <input type="hidden" id="lat" class="umb-editor umb-textstring gllpLatitude" value="{{location.lat}}" />
                    <input type="hidden" id="lon" class="umb-editor umb-textstring gllpLongitude" value="{{location.lon}}" />
                </fieldset>
            </umb-control-group>
        </div>
    </div>
</umb-panel>
