<form novalidate
      name="form"
      id="editLocationForm"
      class="form-horizontal"
      ng-controller="EventCalendar.LocationEditController"
      ng-submit="save(location)">
    <umb-panel>
        <umb-header tabs="tabs">
            <div class="span4">
                <input type="text" class="umb-headline" placeholder="" ng-model="location.name" />
            </div>
            <div class="span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <a href="#" class="btn btn-primary" ng-click="save(location)" prevent-default><localize key="buttons_save">Save</localize></a>
                </div>
            </div>
        </umb-header>

        <umb-tab-view>
            <umb-tab id="tabContent" rel="Content" class="active">
                <div class="umb-pane form-horizontal">

                    <div class="umb-property">
                        <div class="control-group umb-control-group">
                            <div class="umb-el-wrap">
                                <label class="control-label" for="">
                                    <eventcalendar-localize key="location_street_label">Street</eventcalendar-localize>
                                    <small><eventcalendar-localize key="location_street_description">Enter the street of your location.</eventcalendar-localize></small>
                                </label>
                                <div class="controls controls-row">
                                    <input type="text" class="umb-editor umb-textstring" ng-model="location.street">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="umb-property">
                        <div class="control-group umb-control-group">
                            <div class="umb-el-wrap">
                                <label class="control-label" for="">
                                    <eventcalendar-localize key="location_zip_label">Zip Code</eventcalendar-localize>
                                    <small><eventcalendar-localize key="location_zip_description">Enter the zip code of your location.</eventcalendar-localize></small>
                                </label>
                                <div class="controls controls-row">
                                    <input type="text" class="umb-editor umb-textstring" ng-model="location.zipCode">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="umb-property">
                        <div class="control-group umb-control-group">
                            <div class="umb-el-wrap">
                                <label class="control-label" for="">
                                    <eventcalendar-localize key="location_city_label">City</eventcalendar-localize>
                                    <small><eventcalendar-localize key="location_city_description">Enter the city of your location.</eventcalendar-localize></small>
                                </label>
                                <div class="controls controls-row">
                                    <input type="text" class="umb-editor umb-textstring" ng-model="location.city">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="umb-property">
                        <div class="control-group umb-control-group">
                            <div class="umb-el-wrap">
                                <label class="control-label" for="">
                                    <eventcalendar-localize key="location_country_label">Country</eventcalendar-localize>
                                    <small><eventcalendar-localize key="location_country_description">Enter the country of your location.</eventcalendar-localize></small>
                                </label>
                                <div class="controls controls-row">
                                    <input type="text" class="umb-editor umb-textstring" ng-model="location.country">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="umb-property">
                        <div class="control-group umb-control-group">
                            <div class="umb-el-wrap">
                                <label class="control-label" for="">
                                    <eventcalendar-localize key="location_map_label">Map</eventcalendar-localize>
                                    <small><eventcalendar-localize key="location_map_description">Pick your location on the map.</eventcalendar-localize></small>
                                </label>
                                <div class="controls controls-row">
                                    <fieldset class="gllpLatlonPicker">
                                        <legend><eventcalendar-localize key="location_map_search_headline">Search your location on google maps</eventcalendar-localize></legend>
                                        <input type="text" class="gllpSearchField">
                                        <button type="button" class="gllpSearchButton"><eventcalendar-localize key="location_map_search_button">Search</eventcalendar-localize></button>
                                        <br /><br />
                                        <div class="gllpMap">Google Maps</div>
                                        <input type="hidden" class="gllpZoom" value="12" />
                                        <input type="hidden" id="lat" class="umb-editor umb-textstring gllpLatitude" value="{{location.lat}}" />
                                        <input type="hidden" id="lon" class="umb-editor umb-textstring gllpLongitude" value="{{location.lon}}" />
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </umb-tab>
            <umb-tab id="tabMedia" rel="Media">
                <div class="umb-pane form-horizontal">
                    <div class="umb-property">
                        <div class="control-group umb-control-group">
                            <div class="umb-el-wrap">
                                <label class="control-label" for="">
                                    <eventcalendar-localize key="location_media_label">Media</eventcalendar-localize>
                                    <small><eventcalendar-localize key="location_street_description">Select media files to show on detail page.</eventcalendar-localize></small>
                                </label>
                                <div class="controls controls-row">
                                    <div class="umb-editor umb-mediapicker">
                                        <ul class="umb-sortable-thumbnails">
                                            <li style="width: 120px; height: 100px; overflow: hidden;" ng-repeat="image in images">
                                                <img ng-src="/umbraco/backoffice/UmbracoApi/Images/GetBigThumbnail?originalImagePath={{image.image}}" alt="" ng-show="image.thumbnail">

                                                <span class="icon-holder" ng-hide="image.thumbnail">
                                                    <i class="icon icon-picture large"></i>
                                                    <small class="ng-binding">{{image.name}}</small>
                                                </span>

                                                <a href="" class="picked-image" ng-click="deleteMediaItem(image)"><i class="icon icon-delete"></i></a>
                                            </li>
                                        </ul>
                                        <ul class="umb-sortable-thumbnails">
                                            <li style="border: none">
                                                <a href="#" class="add-link" ng-click="openMediaPicker()" prevent-default="">
                                                    <i class="icon icon-add large"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </umb-tab>
        </umb-tab-view>
    </umb-panel>
</form>