<form novalidate name="form" id="editEventForm">
<umb-panel ng-controller="EventCalendar.REventEditController">
    <umb-header tabs="tabs">
        <div class="span4">
                <input type="text"
                    class="umb-headline" 
                    localize="placeholder"
                    select-on-focus
                    required
                    placeholder="@placeholders_entername" 
                    ng-model="event.title" />
        </div>
        <div class="span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                        <a href class="btn btn-primary" ng-click="save(event)" prevent-default><localize key="buttons_save">Save</localize></a>
                </div>
        </div>
    </umb-header>

    <umb-tab-view>
        <umb-tab id="tabContent" rel="Content" class="active">
            <div class="umb-pane">

                <div class="umb-property">
                    <div class="control-group umb-control-group">
                        <div class="umb-el-wrap">
                            <label class="control-label" for="">
                                <eventcalendar-localize key="event_allday_label">All day</eventcalendar-localize>
                                <small><eventcalendar-localize key="event_allday_description">Is this an all day long event?</eventcalendar-localize></small>
                            </label>
                            <div class="controls controls-row">            
                                <div class="make-switch" id="allday" data-on="success" data-on-label="<i class='icon-check icon-white'></i>" data-off-label="<i class='icon-delete'></i>">
                                    <input type="checkbox" class="umb-editor" ng-model="event.allday" name="allday">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="umb-property">
                    <div class="control-group umb-control-group">
                        <div class="umb-el-wrap">
                            <label class="control-label" for="">
                                <eventcalendar-localize key="event_weekday_label">Day of Week</eventcalendar-localize>
                                <small><eventcalendar-localize key="event_weekday_description">On which day does the event take place?</eventcalendar-localize></small>
                            </label>
                            <div class="controls controls-row">            
                                <select ng-model="event.day" name="daySelect" ng-options="d.Key as d.Value for d in DayOfWeekList" required ng-selected="event.day == d.Key"></select>
                                <span ng-show="form.daySelect.$dirty && form.daySelect.$error.required">Day is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="umb-property">
                    <div class="control-group umb-control-group">
                        <div class="umb-el-wrap">
                            <label class="control-label" for="">
                                <eventcalendar-localize key="event_frequency_label">Frequency</eventcalendar-localize>
                                <small><eventcalendar-localize key="event_frequency_description">Frequency of your event?</eventcalendar-localize></small>
                            </label>
                            <div class="controls controls-row">            
                                <select ng-model="event.frequency" name="freqSelect" ng-options="f.Key as f.Value for f in FrequencyTypes" required ng-selected="event.frequency == fKey"></select>
                                <span ng-show="form.freqSelect.$dirty && form.freqSelect.$error.required">Frequency is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="umb-property">
                    <div class="control-group umb-control-group">
                        <div class="umb-el-wrap">
                            <label class="control-label" for="">
                                <eventcalendar-localize key="event_monthly_label">Monthly interval</eventcalendar-localize>
                                <small><eventcalendar-localize key="event_monthly_description">Monthly interval of your event?</eventcalendar-localize></small>
                            </label>
                            <div class="controls controls-row">            
                                <select ng-model="event.monthly" name="monSelect" ng-options="m.Key as m.Value for m in MonthlyIntervals" required ng-selected="event.monthly == m.Key"></select>
                                <span ng-show="form.monSelect.$dirty && form.monSelect.$error.required">Monthly is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="umb-property">
                    <div class="control-group umb-control-group">
                        <div class="umb-el-wrap">
                            <label class="control-label" for="">
                                <eventcalendar-localize key="event_location_label">Location</eventcalendar-localize>
                                <small><eventcalendar-localize key="event_location_description">Where does the event take place?</eventcalendar-localize></small>
                            </label>
                            <div class="controls controls-row">            
                                <select ng-model="event.locationid" name="locSelect" ng-options="l.id as l.name for l in locations" required ng-selected="event.locationid == l.id"></select>
                                <span ng-show="(form.locSelect.$dirty || form.locSelect.$invalid) && form.locSelect.$error.required">Location is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="umb-property">
                    <div class="control-group umb-control-group">
                        <div class="umb-el-wrap">
                            <label class="control-label" for="">
                                <eventcalendar-localize key="event_categories_label">Categories</eventcalendar-localize>
                                <small><eventcalendar-localize key="event_categories_description">Specify categories which the event is related to?</eventcalendar-localize></small>
                            </label>
                            <div class="controls controls-row">            
                                <input type="text" id="tags" ng-model="event.categories" data-role="tagsinput" />
                            </div>
                        </div>
                    </div>
                </div>
                    
             </div>
        </umb-tab>
        <umb-tab id="tab{{$index}}" rel="{{$index}}" ng-repeat="description in event.descriptions">
            <div class="umb-pane">
                <umb-property property="description" >
                    <umb-editor model="description"></umb-editor>
                </umb-property>
            </div>
        </umb-tab>
    </umb-tab-view>
</umb-panel>
</form>