<form novalidate 
    name="form" 
    id="editEventForm"
    ng-controller="EventCalendar.REventEditController"
    ng-submit="save(event)">
<umb-panel >
    <umb-header tabs="tabs">
        <div class="span4">
                <input type="text"
                    class="umb-headline" 
                    localize="placeholder"
                    select-on-focus
                    required
                    placeholder="@placeholders_entername" 
                    ng-model="event.title" />
        </div>
        <div class="span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <button type="submit" data-hotkey="ctrl+s" class="btn btn-success">
                        <localize key="buttons_save">Save</localize>
                    </button>
                </div>
        </div>
    </umb-header>

    <umb-tab-view>
        <umb-tab id="tabContent" rel="Content" class="active">
            <div class="umb-pane">

                <div class="umb-property">
                    <div class="control-group umb-control-group">
                        <div class="umb-el-wrap">
                            <label class="control-label" for="">
                                <eventcalendar-localize key="event_allday_label">All day</eventcalendar-localize>
                                <small><eventcalendar-localize key="event_allday_description">Is this an all day long event?</eventcalendar-localize></small>
                            </label>
                            <div class="controls controls-row">            
                                <div class="make-switch" id="allday" data-on="success" data-on-label="<i class='icon-check icon-white'></i>" data-off-label="<i class='icon-delete'></i>">
                                    <input type="checkbox" class="umb-editor" ng-model="event.allday" name="allday">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="umb-property">
                    <div class="control-group umb-control-group">
                        <div class="umb-el-wrap">
                            <label class="control-label" for="">
                                <eventcalendar-localize key="event_weekday_label">Day of Week</eventcalendar-localize>
                                <small><eventcalendar-localize key="event_weekday_description">On which day does the event take place?</eventcalendar-localize></small>
                            </label>
                            <div class="controls controls-row">            
                                <select ng-model="event.days" name="daySelect" multiple ng-options="d.Key as d.Value for d in DayOfWeekList" required>
                                </select>
                                <span ng-show="form.daySelect.$dirty && form.daySelect.$error.required">Day is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="umb-property">
                    <div class="control-group umb-control-group">
                        <div class="umb-el-wrap">
                            <label class="control-label" for="">
                                <eventcalendar-localize key="event_frequency_label">Frequency</eventcalendar-localize>
                                <small><eventcalendar-localize key="event_frequency_description">Frequency of your event?</eventcalendar-localize></small>
                            </label>
                            <div class="controls controls-row">            
                                <select ng-model="event.frequency" name="freqSelect" ng-options="f.Key as f.Value for f in FrequencyTypes" required ng-selected="event.frequency == m.Key"></select>
                                <span ng-show="form.freqSelect.$dirty && form.freqSelect.$error.required">Frequency is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="umb-property">
                    <div class="control-group umb-control-group">
                        <div class="umb-el-wrap">
                            <label class="control-label" for="">
                                <eventcalendar-localize key="event_monthly_label">Monthly interval</eventcalendar-localize>
                                <small><eventcalendar-localize key="event_monthly_description">Monthly interval of your event?</eventcalendar-localize></small>
                            </label>
                            <div class="controls controls-row">            
                                <select ng-model="event.intervals" name="monSelect" multiple ng-options="m.Key as m.Value for m in MonthlyIntervals" required >
                                </select>
                                <span ng-show="form.monSelect.$dirty && form.monSelect.$error.required">Monthly is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="umb-property">
                    <div class="control-group umb-control-group">
                        <div class="umb-el-wrap">
                            <label class="control-label" for="">
                                <eventcalendar-localize key="event_month_range_label">Range</eventcalendar-localize>
                                <small><eventcalendar-localize key="event_month_range_description">A month range when your event occurs</eventcalendar-localize></small>
                            </label>
                            <div class="controls controls-row">
                                <p>
                                    <select ng-model="event.range_start" name="monRangeStartSelect" ng-options="mr.Key as mr.Value for mr in MonthRange" ng-selected="event.range_start == m.Key">
                                        <option value="">---Select month---</option>
                                    </select>
                                </p>
                                <p>
                                    <select ng-model="event.range_end" name="monRangeEndSelect" ng-options="mr.Key as mr.Value for mr in MonthRange" ng-selected="event.range_start == m.Key">
                                        <option value="">---Select month---</option>
                                    </select>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="umb-property">
                    <div class="control-group umb-control-group">
                        <div class="umb-el-wrap">
                            <label class="control-label" for="">
                                <eventcalendar-localize key="revent_start_label">Start time</eventcalendar-localize>
                                <small><eventcalendar-localize key="revent_start_description">The starting time of your event.</eventcalendar-localize></small>
                            </label>
                            <div class="controls controls-row">            
                                <div id="datetimepicker1" class="input-append">
                                    <input required name="start" type="text" />                                    
                                    <span class="add-on datepickerbutton">
                                        <i class="icon icon-calendar"></i>
                                    </span>
                                </div>
                                <span ng-show="form.start.$dirty && frmRegister.start.$error.required">Start is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="umb-property">
                    <div class="control-group umb-control-group">
                        <div class="umb-el-wrap">
                            <label class="control-label" for="">
                                <eventcalendar-localize key="revent_end_label">End time</eventcalendar-localize>
                                <small><eventcalendar-localize key="revent_end_description">The ending time of your event.</eventcalendar-localize></small>
                            </label>
                            <div class="controls controls-row">            
                                <div id="datetimepicker2" class="input-append">
                                    <input required name="end" type="text" />
                                    <span class="add-on">
                                        <i class="icon icon-calendar"></i>
                                    </span>
                                </div>
                                <span ng-show="form.end.$dirty && frmRegister.end.$error.required">End is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="umb-property">
                    <div class="control-group umb-control-group">
                        <div class="umb-el-wrap">
                            <label class="control-label" for="">
                                <eventcalendar-localize key="event_location_label">Location</eventcalendar-localize>
                                <small><eventcalendar-localize key="event_location_description">Where does the event take place?</eventcalendar-localize></small>
                            </label>
                            <div class="controls controls-row">            
                                <select ng-model="event.locationid" name="locSelect" ng-options="l.id as l.name for l in locations" required ng-selected="event.locationid == l.id"></select>
                                <span ng-show="(form.locSelect.$dirty || form.locSelect.$invalid) && form.locSelect.$error.required">Location is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="umb-property">
                    <div class="control-group umb-control-group">
                        <div class="umb-el-wrap">
                            <label class="control-label" for="">
                                <eventcalendar-localize key="event_categories_label">Categories</eventcalendar-localize>
                                <small><eventcalendar-localize key="event_categories_description">Specify categories which the event is related to?</eventcalendar-localize></small>
                            </label>
                            <div class="controls controls-row">            
                                <input type="text" id="tags" data-role="tagsinput" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="umb-property">
                    <div class="control-group umb-control-group">
                        <div class="umb-el-wrap">
                            <label class="control-label" for="">
                                <eventcalendar-localize key="event_organiser_label">Organiser</eventcalendar-localize>
                                <small><eventcalendar-localize key="event_organiser_description">Who is the organiser of this event?</eventcalendar-localize></small>
                            </label>
                            <div class="controls controls-row">
                                <ul class="unstyled list-icons" ng-if="event.organiser.name">
                                    <li>
                                        <i class="icon icon-delete red hover-show pull-right" ng-click="deleteOrganiser()"></i>
                                        <i class="icon icon-user hover-hide"></i>
                                        <span>{{event.organiser.name}}</span>
                                    </li>
                                </ul>
                                <ul class="unstyled list-icons">
                                    <li>
                                        <i class="icon icon-add blue"></i>                                 
                                        <a href="#" ng-click="openMemberPicker()" prevent-default>Select</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                    
             </div>
        </umb-tab>
        <umb-tab id="tabExceptions" rel="Exceptions">
            <div class="umb-pane">
                <eventcalendar-localize key="event_exceptions_headline">Exceptions</eventcalendar-localize>
                <hr />
                <p ng-repeat="exception in event.exceptions">
                    <span>{{exception.date | date: 'shortDate'}}</span> <a class="btn btn-danger" ng-click="deleteException($index)"><span class="icon icon-pencil"></span>Delete</a>
                </p>
                <hr />
                <div>
                    <div id="datetimepicker3" class="input-append">
                        <input required name="exceptionDate" type="text" />
                        <span class="add-on datepickerbutton">
                            <i class="icon icon-calendar"></i>
                        </span>
                    </div>
                    <a class="btn btn-success" ng-click="addException()"><span class="icon icon-pencil"></span>Add</a>
                </div>
            </div>
        </umb-tab>
        <umb-tab id="tab{{$index}}" rel="{{$index}}" ng-repeat="description in event.descriptions">
            <div class="umb-pane">
                <umb-property property="description" >
                    <umb-editor model="description"></umb-editor>
                </umb-property>
            </div>
        </umb-tab>
    </umb-tab-view>
</umb-panel>
</form>