<umb-panel ng-controller="EventCalendar.CalendarOverviewController">
    <umb-header>
        <h1>Overview</h1>
    </umb-header>

    <div class="umb-panel-body">
        <div class="umb-pane">

            <div class="umb-sub-header">

                <div class="btn-group" ng-show="isAnythingSelected()">
                    <a class="btn btn-danger" ng-disabled="actionInProgress" ng-click="delete()" prevent-default="">
                        <localize key="actions_delete">Delete</localize>
                    </a>
                </div>

                <form class="form-search pull-right ng-pristine ng-valid" novalidate="">
                    <div class="inner-addon left-addon">
                        <i class="icon icon-search"></i>
                        <input type="text" class="form-control ng-pristine ng-valid" localize="placeholder" placeholder="Type to search..." ng-model="searchFilter" prevent-enter-submit="" no-dirty-check="" ng-change="search(searchFilter)">
                    </div>
                </form>

            </div>

            <div class="umb-listview">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td style="width:35px"></td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('cname')">Name</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'calendarname'"></i>
                            </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('gcal')">Uses google calendar</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'isGCal'"></i>
                            </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('visible')">Display on site</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'displayOnSite'"></i>
                            </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('color')">Background color</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'color'"></i>
                            </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('textcolor')">Text color</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'textColor'"></i>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="cal in calendar" ng-class="{selected: isRowSelected(cal.id)}">
                            <td style="width: 35px">
                                <i class="icon icon-edit"></i>
                                <input type="checkbox" name="selectedItems[]" value="{{cal.id}}" ng-checked="isRowSelected(cal.id)" ng-click="toggleSelection(cal.id)" />
                            </td>
                            <td>
                                <a href="#/eventCalendar/ecTree/editCalendar/{{cal.id}}">{{cal.calendarname}}</a>
                            </td>
                            <td><span class="icon icon-check" ng-show="cal.isGCal"></span><span class="icon icon-delete" ng-show="!cal.isGCal"></span></td>
                            <td><span class="icon icon-check" ng-show="!cal.displayOnSite"></span><span class="icon icon-delete" ng-show="cal.displayOnSite"></span></td>
                            <td><span style="background-color:{{cal.color}};display:block;height:25px;width:25px;border:1px dotted black;"></span></td>
                            <td><span style="background-color:{{cal.textColor}};display:block;height:25px;width:25px;border:1px dotted black;"></span></td>
                        </tr>
                    </tbody>
                    <tfoot ng-show="totalPages > 1">
                        <tr>
                            <th colspan="5">
                                <div class="pagination pagination-right">
                                    <ul>
                                        <li ng-class="{disabled: currentPage == 1}">
                                            <a href ng-click="prevPage()">Prev</a>
                                        </li>
                                        <li ng-repeat="i in getNumber(totalPages) track by $index" ng-click="setPage($index+1)"><span>{{$index+1}}</span></li>
                                        <li ng-class="{disabled: currentPage == totalPages}">
                                            <a href ng-click="nextPage()">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</umb-panel>