<umb-panel ng-controller="EventCalendar.REventsOverviewController">
    <umb-header>
        <h1>Overview</h1>
    </umb-header>

    <div class="umb-panel-body">
        <div class="umb-pane">
            <div class="umb-sub-header">

                <div class="btn-group" ng-show="isAnythingSelected()">
                    <a class="btn btn-danger" ng-disabled="actionInProgress" ng-click="delete()" prevent-default="">
                        <localize key="actions_delete">Delete</localize>
                    </a>
                </div>

                <form class="form-search pull-right ng-pristine ng-valid" novalidate="">
                    <div class="inner-addon left-addon">
                        <i class="icon icon-search"></i>
                        <input type="text" class="form-control ng-pristine ng-valid" localize="placeholder" placeholder="Type to search..." ng-model="searchFilter" prevent-enter-submit="" no-dirty-check="" ng-change="search(searchFilter)">
                    </div>
                </form>

            </div>

            <div class="umb-listview">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td style="width:35px"></td>
                            <td style="width:35px">Icon</td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('title')">Name</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'title'"></i>
                            </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('allday')">All day?</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'allday'"></i>
                            </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('start')">Start</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'start'"></i>
                            </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('end')">End</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'end'"></i>
                            </td>
                            <td>Calendar</td>
                            <td>Location</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="event in events" ng-class="{selected: isRowSelected(event.id)}">
                            <td style="width: 35px">
                                <i class="icon icon-edit"></i>
                                <input type="checkbox" name="selectedItems[]" value="{{event.id}}" ng-checked="isRowSelected(event.id)" ng-click="toggleSelection(event.id)" />
                            </td>
                            <td>
                                <i ng-class="event.icon" ng-show="event.icon"></i>
                                <i class="icon-music" ng-show="!event.icon"></i>
                            </td>
                            <td>
                                <a href="#/eventCalendar/ecTree/editREvent/{{event.id}}">{{event.title}}</a>
                            </td>
                            <td><span class="icon icon-check" ng-show="event.allday"></span><span class="icon icon-delete" ng-show="!event.allday"></span></td>
                            <td>{{ formatDate(event.starttime) }}</td>
                            <td>{{ formatDate(event.endtime) }}</td>
                            <td><a href="#/eventCalendar/ecTree/editCalendar/{{event.calendar.id}}">{{event.calendar.calendarname}}</a></td>
                            <td><a href="#/eventCalendar/ecTree/editLocation/{{event.location.id}}">{{event.location.name}}</a></td>
                        </tr>
                    </tbody>
                    <tfoot ng-show="totalPages > 1">
                        <tr>
                            <th colspan="5">
                                <div class="pagination pagination-right">
                                    <ul>
                                        <li ng-class="{disabled: currentPage == 1}">
                                            <a href ng-click="prevPage()">Prev</a>
                                        </li>
                                        <li ng-repeat="i in getNumber(totalPages) track by $index" ng-click="setPage($index+1)"><span>{{$index+1}}</span></li>
                                        <li ng-class="{disabled: currentPage == totalPages}">
                                            <a href ng-click="nextPage()">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</umb-panel>