@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using EventCalendar.Core.Services

@{
	int location = int.Parse(Model.MacroParameters["location"].ToString());
	int take = int.Parse(Model.MacroParameters["take"].ToString());
	var events = LocationService.GetLatestEventsForLocation(location,take);
}

@if(events.Any()){
	<p>@Umbraco.GetDictionaryValue("EventCalendar:EventList:LatestEventsHeadline")</p>
	<ul>
		@foreach(var e in events){
			<li><a href="/EventCalendar/@(e.Title)/@(e.Id)/@(e.Type)/@(e.CalendarId)">@e.Title</a></li>
		}
	</ul>
} else {
	<p>@Umbraco.GetDictionaryValue("EventCalendar:EventList:NoEntries")</p>
}